@charset "utf-8";
img{
    max-width: 100%;
    display: block;
}

.grid2{
    display: grid;
    grid-template-columns:  1fr 1fr 200px;
    gap: 20px;
    max-width: 800px;
    padding: 10px;
    margin: 0 auto;
}

.sidebar>div{
    margin-bottom: 10px;
}

@media(max-width:600px){
    .grid2{
        grid-template-columns: 1fr;
    }
    .sidebar{
        display: flex;
        overflow: scroll;
    }
    .sidebar>div{
        flex: 1 0 200px;
        margin: 0 10px;
        
    }
}