@charset "UTF-8";

body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

footer{
    background-color: dodgerblue;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
}