@charset "UTF 8";
@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Oxanium:wght@200..800&family=Shadows+Into+Light&display=swap');

h1{
    font-family: "Shadows Into Light", cursive;
  font-weight: 5000;
  font-style: normal;
  text-align: center;
  font-size: 50px;
  color: #000000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-animado{
    width: 100%;
    padding: 350px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 500% 100%;
    background-image: linear-gradient(to left,#6BE3D4,#6BA5E3,#6B7FE3,#6BE3D4,#7D6BE3,#B6CCE3);
    animation: animacor 5s infinite alternate ;
} 

@keyframes animacor{
    0%{
        background-position-x: 0%;
    }
    100%{background-position-x: 100% ;
    }
}